body {
    background-color: white;
}

form {
    display: block;
    text-align: center;
}

[v-cloak] {
    display: none;
}

input {

}

.container {
    width: 200px;
    clear: both;
    display: block;
    text-align: center;
}

.container input {
    width: 100%;
    clear: both;
    border: 2px solid black;
}

.category_select {
   text-align: center;
}

.category_select select {
    border: 2px solid black;
}