body {
    background-color: white;
}

form {
    display: block;
    text-align: center;
}

[v-cloak] {
    display: none;
}

input {

}

.container {
    width: 200px;
    clear: both;
    display: block;
    text-align: center;
}

.container input {
    width: 100%;
    clear: both;
    border: 2px solid black;
}

.category_select {
   text-align: center;
   padding: 15px;
}

.category_select select {
    border: 2px solid black;
}

.submit_button
{
    border: 2px solid black;
    padding: 5px;
    border-radius: 4px;
    background-color: #e7e7e7;
}

.submit_button.enabled
{
    background-color: #4CAF50;
}